body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
  color:white;
  font-size: 2vw;
  background-color: rgb(83, 82, 82);
}
header{
  height: 10vh;
  width: 95%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#logo-area{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 25px;
}
h1{
  font-size: 7.5vh;
  text-decoration: underline;
  text-decoration-color: orange;
}
#main-options{
  display: flex;
  flex-flow: row nowrap;
  gap: 25px;
}
.main-options{
  height: 100%;
  justify-content: end;
  align-items: end;
}
.focus{
  opacity: 0.6;
}
.focus:hover{
  opacity: 1;
}
main{
  height: 78vh;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12vh auto 15vh;
  justify-content: center;
  align-items: center;
}
#test-para-area{
  width: 100%;
  position: relative;
  top: -10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#test-para{
  position: absolute;
  text-align: justify;
  font-size: 2vw;
  color: rgb(154, 154, 154);
  letter-spacing: 2px;
  word-spacing: 10px;
  line-height: 4.5vh;
}
#test-restart{
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  display: none;
}
#refresh-button{
  background: transparent;
  border: none;
  cursor: pointer;
}
#test-review{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}
.review-heading{
  display: block;
  font-size: 2.5vh;
  margin: 15px 0px;
  color: orange;
}

footer{
  height: 10vh;
  width: 95%;
}
.typed-letter{
  background-color: rgb(255, 165, 0, 0.5);
}
.typed-para{
  color: white;
}
.wrong-letter{
  color: white;
  background-color: red;
}
#test-cursor{
  display: inline-block;
  height: 2.5vw;
  margin-bottom: -10px;
  background-color: rgb(71, 254, 71);
  width: 3px;
  animation: blink 1s steps(2,start) infinite;
}
@keyframes blink {
  to{
    visibility: hidden;
  }
}